.site-container{
  min-height:100vh;
}
main{
flex: 1;
}
.rating span{
  color:rgba(236, 250, 43, 0.87);
}

.cart-btn{ 
  background-color: rgba(236, 250, 43, 0.87);
  color: black;
}

.img{
  width:100%;
  height:635px;
}
.row-margin{
  margin:5;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img{
  height:400px;
  width: 250px;
  max-width:400px;
}
.product-info{
padding: 1rem;
}
.img-thumbnail{
  height:80px; 
 }
 .checkout-steps > div{
   border-bottom:0.2rem solid #a0a0a0;
   color:#a0a0a0;
 }
 .checkout-steps > div.active{
border-bottom: 0.2rem solid #f08000;
color:#f08000;
 }
 
 /* sidebar */

 .navbar-brand{
  font-weight:bold;
 }

 .side-navbar{
  width:240px;
  height:100%;
  position:absolute;
  left:-300px;
  background-color:#100901;
  transition:0.5s;
 }
 .site-container{
  transition:0.4s;
 }

 .active-cont{
   margin-left:240px;
 }
 .active-nav{
  left: 0;
 }
 .text-bold{
  font-weight: bold;
 }
 .allrights{
  margin-top:450px;
 }